body {
    text-align: center;
}



/* タイトルとオーナーの中央寄せ */
b {
    display: block; /* ブロック要素にする */
    margin: 0 auto; /* 左右のマージンを自動で調整 */
}
/*テーブル*/
table {
    border-collapse: collapse; /* セルの罫線を重ねる */
    margin: 20px auto; /* テーブルの中央寄せ */
    max-width: 400px; /* 最大幅を指定 */
    width: 100%; /* 幅を100%に設定 */
}

/* テーブルのヘッダセルのスタイル */
th {
    border: 1px solid black;
    padding: 8px;
    background-color: #f2f2f2;
}

/* テーブルのデータセルのスタイル */
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

/*テーブル*/

/* ボタンの中央寄せ */
button {
    display: block;
    margin: 0 auto;
}

button.t_button{
    display: inline-block; /* インラインブロック要素にする */
    margin: 0 auto;
    padding: 10px 20px; /* パディングを追加 */
    background-color: #001F3F; /* 紺色の背景色 */
    color: #FFFFFF; /* テキストの白色 */
    border: none; /* ボーダーをなしに */
    border-radius: 4px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに */
}

/* ボタンのホバー時のスタイル */
button.t_button:hover {
    background-color: #003366; /* ホバー時の背景色 */
}


/*

/* 利用可能日数の中央寄せ */
p {
    text-align: center;
}

/* カラム全体の中央寄せ */
h3 {
    text-align: center;
}

/* 住所の中央寄せ */
p[style="text-align: center;"] {
    text-align: center;
}
